html {
  background-color: #444;
  color: #CCC;
  font-family: monospace;
  font-size: 15px;
}

body {
  background-color:#282828;
  margin:auto;
  padding: 20px;
  width: fit-content;
  max-width: 1200px;
}

/* unvisited link */
a:link {
  color: #CCF;
}

/* visited link */
a:visited {
  color: #DCF;
}

p {
  color: #CCC;
  text-indent:30px;
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
}

.highlight {
  color: #FFFFBB;
}

/******************************************************************************/

pre {
  background-color: #222;
  padding: 6px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

th, td {
  padding: 6px;
}

h1, h2, h3, h4 {
  color: #CCE;
}
