* {
  font-family: monospace;
  font-size: 14px;
  color: #CCC;
}

b {
  color: #E99;
}

h1 {
  color: #CCE;
  margin-left:5%;
  margin-right:5%;
}

body {
  background-color: #444;
  margin: 0px;
  /*
  margin-left:100px;
  margin-right:100px;
  */
}

p {
  text-indent: 30px;
  margin-left:5%;
  margin-right:5%;
}

ul {
  margin-left:5%;
  margin-right:5%;
}

.topbar {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content:space-between;
}

.topbar_title {
  display:flex;
  align-items: center;
  flex-basis:auto;
  font-size: 20px;
  color: #CBF;
  margin:8px;
}

.topbar_spacer {
  display:flex;
  align-items: center;
  flex-basis:250px;
}

.contents {
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #222;
  max-width: 1500px;
  margin:auto;
}

.divider {
  margin:40px;
  padding:10px;
  background-color: #3B3344;
  border: solid #1A1A1A 1px;
  text-align:center;
  font-size:20px;
}

.live_code {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.source_panel {
  flex-basis: 0;
  flex-grow: 1;
}

.input_output {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input_panel {
  flex-basis: 0;
  flex-grow: 1;
}

.output_panel {
  flex-basis: 0;
  flex-grow: 1;
}


.header_bar {
  border: solid #1C1C1C 1px;
  background-color: #333333;
  padding: 8px;
}

.filename {
  font-weight: 600;
}

.code_box {
  display:inline-block;
  margin-left:120px;
}

.code_jar {
  border: solid #1A1A1A 1px;
  margin: 0px;
}

.terminal {
  border: solid #1A1A1A 1px;
  margin: 0px;
}
